---
layout: base.njk
title: ""
---
<div class="page cover">
  <h1>Foodnotes</h1>
  <div class="divider"></div>
  <a class="sub" href="{{ '/inhoud/' | url }}">{{ collections.recepten | length }} recepten</a>
</div>
