---
layout: base.njk
title: Inhoudsopgave
permalink: inhoud/index.html
---
<div class="page toc-text">
  <h1>Inhoudsopgave</h1>
  {% for group in collections.recepten | groupByCategory %}
  <div class="toc-chapter">
    <h2><a href="{{ ('/recepten/' + group.slug + '/') | url }}">{{ group.title }}</a></h2>
    {% for recipe in group.recipes %}
    <a class="toc-entry" href="{{ recipe.url | url }}">
      <span class="toc-title">{{ recipe.data.title }}</span>
      <span class="toc-dots"></span>
      <span class="pagenum">{{ recipe | recipeNumber }}</span>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
