---
layout: base.njk
title: Over mij
permalink: over/index.html
---
<div class="page about">
  <h1>{{ site.overTitle or "Over mij" }}</h1>
  {% for paragraph in site.overParagraphs %}
  <p>{{ paragraph }}</p>
  {% endfor %}
</div>
