<nav class="site-nav"><div class="site-nav-inner">
<a class="brand" href="{{ '/' | url }}">Foodnotes</a>
<div>
  <a href="{{ '/inhoud/' | url }}">Inhoudsopgave</a>
  <a href="{{ '/' | url }}#ontdek">Ontdek</a>
  <a href="{{ '/register/' | url }}">Register</a>
  <a href="{{ '/over/' | url }}" class="nav-info" aria-label="Over mij" title="Over mij">&#9432;</a>
</div>
</div></nav>
